{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [">0.1%", "not op_mini all"],
        "node": "current"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-assign"
  ],
  "env": {
    "coverage": {
      "sourceMaps": "inline"
    }
  }
}
