{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [">0.1%", "not op_mini all"],
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", { "corejs": 2 }]
  ]
}